html{
	font-weight:bold;
}

.Close {
	height: 15px;
	width: 230px;
	padding: 20px 0px 20px 0px;
}

#START {
	background-color: white;
	width: 100%;
}

#HOT {
	background-color: #e01106;
	width: 100%;
}

#BURNING {
	background: linear-gradient(to right, #ff6a00, #ee0979);
	width: 100%;
}

#FREEZING {
	background-color: #0e37ef;
	width: 100%;
}

#COLD {
	background-color: #49afd1;
	width: 100%;
}

#WARM {
	background-color: #dd8b27;
	width: 100%;
}

#BINGO {
	font-weight: Bold;
	width: 100%;
	background-color: #f21fe0;
}